<div class="container">
    <div class="block-header">
        <h2>Cadastro de Clientes</h2>
    </div>
    <div class="card">
        <div class="card-header">
            <h2>Informações Básicas <small>Insira as informações do cliente no formulário abaixo.</small></h2>
        </div>
        <div class="card-body card-padding">
            <div class="form-group">
                <div class="fg-line">
                    <input type="text" class="form-control input-lg" placeholder="Nome Completo">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="CPF" data-input-mask="{mask: '000.000.000-00'}">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="RG" data-input-mask="{mask: '0000000000'}">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Data de Nascimento" data-input-mask="{mask: '00/00/0000'}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h2>Informações de Endereço e Contato </h2>
        </div>
        <div class="card-body card-padding">
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Logradouro">
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Nº" data-input-mask="{mask: '00000'}">
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Bairro">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn bgm-green btn-icon waves-effect waves-circle" data-swal-success><i class="zmdi zmdi-check"></i></button>
</div>
